<h1>Edit Characteristic</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.characteristic_path(@conn, :update, @characteristic)) %>

<span><%= link "Back", to: Routes.characteristic_path(@conn, :index) %></span>
