<h1>Edit Sensor type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.sensor_type_path(@conn, :update, @sensor_type)) %>

<span><%= link "Back", to: Routes.sensor_type_path(@conn, :index) %></span>
