<h1>New Characteristic type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.characteristic_type_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.characteristic_type_path(@conn, :index) %></span>
